html, body {
    overflow-x: hidden;
}

body {
    background-color: var(--clr-background);
    color: var(--clr-white);
}

// TYPOGRAPHY

h5 {
     font-size: var(--fs-h5);
     line-height: var(--lh-h5);
}

h4 {
    font-size: var(--fs-h4);
    line-height: var(--lh-h4);



}

h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-h3);
    
    @media only screen and (min-width: 1440px) {
        font-size: var(--fs-h1);
        line-height: var(--lh-h1);
    }
}

h2 {
    font-size: var(--fs-h2);
    line-height: var(--lh-h2);
}

h1 {
    font-size: var(--fs-h1);
    line-height: var(--lh-h1);
}

p {
    color: var(--clr-grey);
    font-size: var(--fs-p);
    line-height: var(--lh-p);
}

li {
    font-size: var(--fs-p);
    line-height: 35px;
}

// LOGO

.logo-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    margin-bottom: 6.65rem;

    @media only screen and (min-width: 768px) {
        justify-content: start;
        padding-left: 3rem;
    }

    @media only screen and (min-width: 1440px) {
        margin-left: 14rem;
        margin-bottom: 12rem;
        margin-top: 2rem;
    }
}

.bg-mobile {
    width: 110%;
    margin-bottom: 4.87rem;

    @media only screen and (min-width: 768px) {
        display: none;
    }
}

// TOP

.top-container {

    @media only screen and (min-width: 768px) {
            
        background-image: url('../assets/illustration-hero-left.svg'),
        url('../assets/bg-hero-squiggle.svg'),
        url('../assets/illustration-hero-right.svg');
        background-repeat: no-repeat;
        background-size: 35rem;
        background-position: left -19rem top, top, right -15rem top;
        padding: 0 10rem 4rem 10rem;
    }

    @media only screen and (min-width: 1440px) {
        background-position: left -6rem top, top, right -5rem top;
        background-size: 35rem, 50rem, 35rem;
    }

    &__textcontainer {
        max-width: 60rem;
        margin: 0 auto;
    }
}

br {
    @media only screen and (min-width: 1440px) {
        display: none;
    }
}

.title {
    text-align: center;
    margin: 0 3rem;
}

h3 {
    margin-bottom: 3rem;
    & > span {
        color: var(--clr-light-blue);
    }
}

.container-one {
    margin: 0 3rem;
    text-align: center;
    
}

.icon-scroll {
    display: block;
    margin: 4rem auto;
}

// LIST

.list-wrapper {
    margin-bottom: 6rem;

    @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: center;

        &:nth-child(odd) {
            margin-left: 7rem;
        }
    }

    @media only screen and (min-width: 1440px) {
        flex-direction: column;

        &:nth-child(odd) {
            margin-left: 0;
        }

        &:nth-child(even) {
            margin-top: 12rem;
        }
    }
}

.list {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    @media only screen and (min-width: 768px) {
        margin-top: 10rem;
        text-align: left;
        margin-left: 9rem;
        margin-right: 9rem;
    }

    @media only screen and (min-width: 1440px) {
        flex-direction: row;
    }
}

.pic {
    margin-bottom: 4rem;

    @media only screen and (min-width: 768px) {
        margin-bottom: 0;
    }

    @media only screen and (min-width: 1440px) {
        margin-bottom: 4rem;
    }
}

.pic-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 15rem;
    height: 15rem;
    background-color: var(--clr-dark-blue);
    border-radius: 35%;

    & > img {
        margin: 0 auto;
        display: block;
    }

    @media only screen and (min-width: 1440px) {
        margin: 0;
        margin-left: 5rem;
    }
}

.list-bot > h4 {
    margin-bottom: 2rem;

    @media only screen and (min-width: 768px) {
        margin-bottom: 1rem;
    }

}

.list-bot {
    
    @media only screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5rem;
    }
}

// PRICING

.pricing-wrapper {
    margin: 6rem 2.5rem 8rem 2.5rem;
    text-align: center;

    & > h4 {
        margin-bottom: 2rem;

        @media only screen and (min-width: 1440px) {
            font-size: var(--fs-h3);
            line-height: var(--lh-h3);
        }
    }

    @media only screen and (min-width: 768px) {
        margin: 6rem auto 8rem auto;
        width: 50rem;
    }

    @media only screen and (min-width: 1440px) {
        margin: 12rem auto 8rem auto;
    }
}

// TWO PRICING CARDS 

.card-wrapper {
    display: flex;
    flex-direction: column;
    margin: 3rem 3rem;

    @media only screen and (min-width: 1440px) {
        flex-direction: row;
        justify-content: center;
        margin-bottom: 10rem;
    }
}

.card-first {
    position: relative;
    background-color: var(--clr-dark-blue);
    border-radius: 10px;
    padding: 5rem 2rem 2rem 2rem;
    margin-bottom: 6rem;
    max-width: 45rem;
    margin-left: auto;
    margin-right: auto;

    &__logo {
        position: absolute;
        left: 3rem;
        top: -1.5rem;
    }

    @media only screen and (min-width: 1440px) {
        margin-left: 0;
        margin-right: 0;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.toplist {
    padding-left: 2rem;
    line-height: var(--lh-p);

& > li {
    list-style-image: url('../assets/icon-check-free.svg'); 
        }
}

.card-second {
    position: relative;
    background-color: var(--clr-light-blue);
    border-radius: 10px;
    padding: 5rem 2rem;
    color: black;
    padding: 5rem 2rem 2rem 2rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 45rem;

    &__logo {
        position: absolute;
        left: 3rem;
        top: -3.5rem;
    }

    @media only screen and (min-width: 1440px) {
        margin-left: 2rem;
        margin-right: 0;
        margin-bottom: -1rem;
    }
}



.botlist {
    padding-left: 2rem;
    line-height: var(--lh-p);

    & > li {
        list-style-image: url('../assets/icon-check.svg');   
    }
}

.bot {
    & > h3 {
        display: inline;
        margin-right: 3rem;
    }
    & > p {
        display: inline;
    }
}

.top {
    & > h4 {
        margin-bottom: 2rem;
    }

    & > p {
        margin-bottom: 2rem;
    }
}

// EMAIL FORM

.email-wrapper {
    text-align: center;
    padding: 10rem 2rem;
    background-image: url('../assets/bg-footer-squiggle.svg');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-y: 12rem;
    background-position-x: -8rem;
    overflow: visible;

    &__title {
        padding: 2rem 4rem;

        @media only screen and (min-width: 768px) {
            padding: 0 4rem;
        }

        @media only screen and (min-width: 1440px) {
            font-size: var(--fs-h3);
        }
    }
}

.email-input {
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--clr-dark-blue);
    border-radius: 50px;
    height: 5rem;
    margin-bottom: 2rem;
    text-align: left;
    padding-left: 2rem;
    font-size: var(--fs-p);
    color: white;
    width: 100%;

    &:focus {
        border: 2px solid var(--clr-light-blue);
        outline: none;
        color: white;
    }

    @media only screen and (min-width: 768px) {
        width: 65%;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-light-blue);
    border-radius: 50px;
    height: 5rem;

    &:hover {
        background-color: var(--clr-background);
        border: 2px solid var(--clr-light-blue);
        cursor: pointer;

        & > p {
            color: white;
        }
    }

    &:active {
        background-color: var(--clr-background);
        border: 2px solid var(--clr-light-blue);

        & > p {
            color: white;
        }
    }

    @media only screen and (min-width: 768px) {
        width: 32%;
    }
}

.validation {
    text-align: left;
    margin-top: 1rem;
    font-size: var(--fs-p);
    height: 2rem;

    @media only screen and (min-width: 768px) {
        width: 50rem;
        margin: 0 auto;
        transform: translate(3.5rem, -1.5rem);
        font-size: 13px;
    }
}

.input-wrapper {

    @media only screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        max-width: 47rem;
        margin: 0 auto;
    }
}