:root {
    --clr-background: #080C20;
    --clr-light-blue: #3EE9E5;
    --clr-dark-blue:#093F68;
    --clr-grey: #777F98;
    --clr-white: #FFFFFF;
    --clr-error: #FF2965;

    font-family: 'Manrope', sans-serif;

    --fs-h1: 4.8rem;
    --lh-h1: 56px;

    --fs-h2: 4rem;
    --lh-h2: 55px;

    --fs-h3: 3.2rem;
    --lh-h3: 44px;

    --fs-h4: 1.8rem;
    --lh-h4: 25px;

    --fs-p: 1.5rem;
    --lh-p: 25px;
}


